%h3 Induction - Founding Meeting
= form(:action => url(:controller => 'induction', :action => 'create_founding_meeting_details')) do
  %p= text_field(:name => 'date', :value => @founding_meeting_date, :label => "Date")
  %p= text_field(:name => 'time', :value => @founding_meeting_time, :label => "Starting at time")
  %p= text_field(:name => 'location', :value => @founding_meeting_location, :label => "Location")
  %p= submit("Save details")
