%h2 Induction - Founder
= form_for(@founder, :url => {:controller => 'induction', :action => 'create_founder'}) do |f|
  %p
    = f.label :email, "Email Address"
    = f.text_field :email
  %p
    = f.label :first_name
    = f.text_field :first_name
  %p
    = f.label :last_name
    = f.text_field :last_name
  %p
    = f.label(:class)
    = f.collection_select(:member_class_id, MemberClass.all, :id, :name)
  %p
    = f.label :password
    = f.password_field :password
  %p
    = f.label :password_confirmation, "Confirm password"
    = f.password_field :password_confirmation
  %p
    = submit_tag "Save and move on", :id => 'submit'
