%h2 Confirm results of founding meeting
%p Once you have had your founding meeting, you can come back here and confirm who voted in favour of founding the organisation.

= form_tag(:controller => 'induction', :action => 'confirm_founding_meeting') do
  %p Select the members who voted in favour.
  %ul.founding_members
    %li
      = label_tag("members[#{@founding_member.id}]", @founding_member.name)
      = check_box_tag("members[#{@founding_member.id}]", 1, true, :disabled => true)
    - @other_members.each do |member|
      %li
        = label_tag("members[#{member.id}]", member.name)
        = check_box_tag("members[#{member.id}]", 1, false)
  %p= submit_tag("Confirm founding meeting, and found #{@organisation_name}", :confirm => "Are you sure you are ready to found the organisation? There is no undo.")

%p
  %strong OR
  = link_to("Cancel this founding meeting, and change the organisation details.", :controller => 'induction', :action => 'restart_induction')
