%h3 Confirm founding meeting
%p TODO: Text here about confirming that the founding meeting happened.

= form(:action => url(:controller => 'induction', :action => 'confirm_founding_meeting')) do
  %p Select the members who voted in favour.
  %ul.founding_members
    %li
      = check_box(:name => "members[#{@founding_member.id}]", :value => 1, :checked => true, :disabled => true, :label => @founding_member.name)
    - @other_members.each do |member|
      %li
        = check_box(:name => "members[#{member.id}]", :value => 1, :checked => false, :label => member.name)
  %p= submit("Confirm founding meeting, and found #{@organisation_name}")

%p
  %strong OR
  = link_to("Cancel this founding meeting, and change the organisation details.", url(:controller => 'induction', :action => 'restart_induction'))
