%h3 Induction - Members
%h4 Member 1 (that's you)
%p
  %label Name
  = @founder.name
%p
  %label Email
  = @founder.email
- form_tag(:controller => 'induction', :action => 'create_members') do
  - 0.upto(14) do |i|
    - fields_for(:members, @members[i], :index => i) do |f|
      %h4="Member #{i+2}"
      %p
        = f.label(:name)
        = f.text_field(:name)
      %p
        = f.label(:email)
        = f.text_field(:email)
      = f.hidden_field(:id)
  %p
    = submit_tag("Save members and move on")
%p
  = link_to("Discard changes and go back", :controller => 'induction', :action => 'organisation_details')