%h2 Induction - Organisation details
= form_tag(:controller => 'induction', :action => 'create_organisation_details') do
  %p
    = label_tag(:organisation_name, "The organisation's name")
    = text_field_tag(:organisation_name, @organisation_name)
  %p
    = label_tag(:objectives, "The organisation's objectives")
    %br
    = text_area_tag(:objectives, @objectives)
  %p
    = check_box_tag(:assets, '1', @assets)
    = label_tag(:assets, "The organisation will have the power to hold and transfer assets")
  %p
    = submit_tag("Save and move on")
%p
  = link_to("Discard and go back", :controller => 'induction', :action => 'founder')
