%h2 Induction - Founding meeting agenda

%p Please review the founding meeting agenda before it is sent out to all founding members.

%h3= @organisation_name
%h3 Agenda for the Founding Meeting
%p
  To be held at
  = @founding_meeting_location
  on
  = @founding_meeting_date
  starting at
  = @founding_meeting_time

%h4 Invited:
%ul
  - @members.each do |member|
    %li
      = "#{member.name} <#{member.email}>"

%h4 Agenda:
%ol
  %li
    Presentation and discussion of the Draft Constitution for
    = @organisation_name
    making any necessary revisions.
  %li
    Founding vote to form
    = @organisation_name
  %li
    Any other business.

%p= link_to("Confirm founding meeting agenda.", :controller => 'induction', :action => 'confirm_agenda')
%p= link_to("Go back and edit.", :controller => 'induction', :action => 'founding_meeting_details')
