%h2 Induction - Voting settings
= form_tag(:controller => 'induction', :action => 'create_voting_settings') do
  %p
    %label{:for => 'voting_period'}
      Voting period
    %select{:name => 'voting_period'}
      - VotingPeriods.all do |vp|
        - if vp[:value] == @voting_period
          %option{:value => vp[:value], :selected => true}= vp[:name]
        - else
          %option{:value => vp[:value]}= vp[:name]
    
  %p
    = render 'one_click/voting_system_field', :type => 'general', :description => "How will general decisions be made?"
  %p
    = render 'one_click/voting_system_field', :type => 'membership', :description => "How will membership decisions be made?"
  %p
    = render 'one_click/voting_system_field', :type => 'constitution', :description => "How will constitution decisions be made?"
  %p= submit_tag("Save settings and move on")
%p
  = link_to("Discard and go back", :controller => 'induction', :action => 'members')