%h3 Decisions

%table#proposal
  %tr
    %th#proposal Title
    %th#proposal Ended
    %th#proposal Vote
  - on = true
  - for decision in @decisions
    - on = !on    
    - on ? p = "one" : p = "two"
    %tr{:class => "proposal_#{p}"}
      %td
        = decision.title
        - unless decision.description.blank?
          - paras = decision.description.split("\n")
          - for para in paras
            %div.description= para
      %td#proposal_ends_in
        = date_format(decision.close_date)
      %td#vote
        = partial :vote_count, :decision => decision