%h3 decisions

%table#decision
  %tr
    %th#decision Title
    %th#decision Ended
    %th#decision Vote
  - on = true
  - for decision in @decisions
    - on = !on    
    - on ? p = "one" : p = "two"
    %tr{:class => "decision_#{p}"}
      %td
        = decision.proposal.title
        - unless decision.proposal.description.blank?
          - paras = decision.proposal.description.split("\n")
          - for para in paras
            %div.description= para
      %td#decision_ends_in
        = date_format(decision.proposal.close_date)
      %td#vote
        = partial :vote_count, :proposal => decision.proposal
