%h3 Decisions

%table#decisions
  %tr
    %th Title
    %th Ended
    %th Vote
  - for decision in @decisions
    %tr{:class => "#{cycle('odd', 'even')}"}
      %td
        = decision.title
        - unless decision.description.blank?
          - paras = decision.description.split("\n")
          - for para in paras
            %div.description= para
      %td#proposal_ends_in
        = date_format(decision.close_date)
      %td#vote
        = partial :vote_count, :decision => decision