%h3 Open Proposals

%table#proposals
  %tr
    %th Title
    %th End in
    %th Vote
  - for proposal in @proposals
    %tr{:class => "#{cycle('odd', 'even')}"}
      %td
        = proposal.title
        (
        = proposal.proposer.name
        )
        - paras = []
        - paras = proposal.description.split("\n") if proposal.description
        - for para in paras
          %div.description= para
      %td#proposal_ends_in
        = time_to_go_in_words(proposal.end_date)
      %td#vote
        = partial :vote, :proposal => proposal
      
%h3 New Proposal
= form_for(@new_proposal, :action => url(:controller => :decisions, :action => :create_proposal)) do
  = text_field :title, :label => "Title  "
  %br
  = text_area :description, :label => "Description "
  %br
  = submit "Create Proposal", :id => 'submit'
  %br