%h3 Open Proposals

%table#proposal
  %tr
    %th#proposal Title
    %th#proposal End in
    %th#proposal Vote
  - on = true
  - for proposal in @proposals
    - on = !on    
    - on ? p = "one" : p = "two"
    %tr{:class => "proposal_#{p}"}
      %td= proposal.title
      %td#proposal_ends_in
        = time_to_go_in_words(proposal.end_date)
      %td#vote
        = partial :vote, :proposal => proposal
      
%h5 New Proposal
= form_for(@new_proposal, :action => url(:controller => :decisions, :action => :create_proposal)) do
  = text_field :title, :label => "Title"
  = text_area :description, :label => "Description"
  = submit "Create Proposal"