- if @decision.open?
  %h3
    Proposal:
    = h(@decision.title)
- elsif @decision.accepted
  %h3
    Decision:
    = h(@decision.title)
- else
  %h3
    Failed proposal:
    = h(@decision.title)

= partial 'description', :decision => @decision

%p
  The proposal was made on
  = @decision.creation_date.formatted(:long)
  by
  = link_to(h(@decision.proposer.name), resource(@decision.proposer))

-if @decision.open?
  %p
    Voting on this proposal will end in
    = time_to_go_in_words(@decision.end_date)
  %p
    Your vote:
    = partial 'vote', :proposal => @decision
- else
  %p
    Voting on this proposal ended
    = @decision.close_date.formatted(:long)
  %p
    Votes for/against:
    = partial 'vote_count', :decision => @decision
