- if current_user.has_permission(:membership_proposal)
  %div.section
    %h3
      Propose a new member
    %p
      = form_for(@new_member, :as => :member, :url => members_path) do |f|
        %p
          = f.label(:email, "Email Address")
          = f.text_field :email
        %p
          = f.label(:first_name)
          = f.text_field :first_name
        %p
          = f.label(:last_name)
          = f.text_field :last_name
        %p
          = f.label(:class)
          = collection_select(:member, :member_class_id, MemberClass.all, :id, :name)
        %p
          = submit_tag "Add Member", :id => 'submit'
