%h2 
  Constitution of 
  = @organisation_name

%p
  In joining
  = @organisation_name
  you agree to abide by their constitution. Please read it carefully before you continue. Note
  that this constitution is a living document: members of the organisation may propose changes
  at any time.

= render :partial => 'shared/constitution', :locals => {:allow_changes => false}
  
%p= link_to("I agree to abide by the constitution of #{@organisation_name}.", :action => 'induct_member')
%p= link_to("Cancel", {:action => 'cancel_membership'}, {:class => 'cancel'})
