%form{:action=>url(:action=>'propose_voting_system_amendment'), :method=>:post}
  %div.constitution_proposal
    %p.reveal_link
      %a{:href => '#'}
        Propose an amendment to this clause
    %div.proposal_form{:style => 'display: none;'}
      %p
        %label{:for => "#{type}_voting_system"}= description
        %select{:name=>"#{type}_voting_system"}
          - VotingSystems.all do |vs|
            - if vs.simple_name == instance_variable_get("@#{type}_voting_system".to_sym)
              %option{:value => vs.simple_name, :selected => true}= vs.description
            - else
              %option{:value=>vs.simple_name}= vs.description        
      %p
        = submit "Propose change", :id => 'submit'
      %p
        %a{:href => '#', :class => 'cancel_link'}
          Cancel