%h3 My Control Centre

%p= "Welcome back, #{current_user.name}!"

%h4 Open Proposals
%table.proposals
  %tr
    %th Title
    %th End in
    %th Vote
  - for proposal in @proposals
    %tr{:class => cycle('odd', 'even')}
      %td
        = proposal.title
        (
        = proposal.proposer.name
        )
        = partial 'decisions/description', :decision => proposal
      %td.timestamp
        = time_to_go_in_words(proposal.end_date)
      %td.vote
        = partial 'decisions/vote', :proposal => proposal
  
%h4 Recent Decisions
%table.decisions
  %tr
    %th Title
    %th Decision made
    %th For/against
  - reset_cycle
  - for decision in @decisions
    %tr{:class => cycle('odd', 'even')}
      %td
        = decision.title
        (
        = decision.proposer.name
        )
        = partial 'decisions/description', :decision => decision
      %td.timestamp= decision.close_date.formatted(:long)
      %td.vote= partial 'decisions/vote_count', :decision => decision

%h4 Recent Failed Proposals
%table.failed_proposals
  %tr
    %th Title
    %th Proposal failed
    %th For/against
  - reset_cycle
  - for failed_proposal in @failed_proposals
    %tr{:class => cycle('odd', 'even')}
      %td
        = failed_proposal.title
        (
        = failed_proposal.proposer.name
        )
        = partial 'decisions/description', :decision => failed_proposal
      %td.timestamp= failed_proposal.close_date.formatted(:long)
      %td.vote= partial 'decisions/vote_count', :decision => failed_proposal
