%h3 My Control Centre

%p= "Welcome back, #{current_user.name}!"

%h4 New Proposal
= form_for(@new_proposal, :action => resource('proposals'), 'class' => 'proposal') do
  %p
    = text_field :title, :label => "Title  "
  %p
    = text_area :description, :label => "Description "
  %p
  = submit "Create Proposal", :id => 'submit'
  
= partial 'members/new_member'

%h4 Open Proposals
%table.proposals
  %tr
    %th Title
    %th Ends
    %th For/against
    %th Your Vote
  - for proposal in @proposals
    %tr{:class => cycle('odd', 'even')}
      %td
        = proposal.title
        (
        = link_to(h(proposal.proposer.name), resource(proposal.proposer))
        )
        = partial 'proposals/description', :proposal => proposal
        %p= link_to("More details", resource(proposal))
      %td.timestamp
        = time_to_go_in_words(proposal.end_date)
        (
        = proposal.end_date.formatted(:long)
        )
      %td 
        = partial 'proposals/vote_count', :proposal => proposal
      %td.vote
        = partial 'proposals/vote', :proposal => proposal
  
%h4 Recent Decisions
%table.decisions
  %tr
    %th Title
    %th Decision made
    %th For/against
  - reset_cycle
  - for decision in @decisions
    %tr{:class => cycle('odd', 'even')}
      %td
        = decision.proposal.title
        (
        = link_to(h(decision.proposal.proposer.name), resource(decision.proposal.proposer))
        )
        = partial 'proposals/description', :proposal => decision.proposal
        %p= link_to("More details", resource(decision.proposal))
      %td.timestamp= decision.proposal.close_date.formatted(:long)
      %td.vote= partial 'proposals/vote_count', :proposal => decision.proposal

%h4 Recent Failed Proposals
%table.failed_proposals
  %tr
    %th Title
    %th Proposal failed
    %th For/against
  - reset_cycle
  - for failed_proposal in @failed_proposals
    %tr{:class => cycle('odd', 'even')}
      %td
        = failed_proposal.title
        (
        = link_to(h(failed_proposal.proposer.name), resource(failed_proposal.proposer))
        )
        = partial 'proposals/description', :proposal => failed_proposal
        %p= link_to("More details", resource(failed_proposal))
      %td.timestamp= failed_proposal.close_date.formatted(:long)
      %td.vote= partial 'proposals/vote_count', :proposal => failed_proposal
