%h2 Dashboard

%p= "Welcome back, #{current_user.name}!" if current_user

- if @proposals.present?
  .section.open-proposals
    %h3 Open proposals
    %p.explanation
      These proposals are currently undergoing voting by
      = @current_organisation.organisation_name
      members.
    - @proposals.each do |proposal|
      %h4
        = proposal.title
        %span.time-ends
          (voting ends
          = proposal.end_date.to_s(:long)
          )
      = render 'proposals/description', :proposal => proposal
      %p.votes
        = proposal.votes_for
        votes for,
        = proposal.votes_against
        against
      = render 'proposals/vote', :proposal => proposal
    .clear
  
= render :partial => 'shared/propose_freeform_form'

= render :partial => 'shared/propose_new_member_form'


%div.section
  %h3 Timeline
  %table.timeline
    %tr
      %th Event
      %th Date
    - for event in @timeline
      %tr{:class => cycle('odd', 'even')}
        = render :partial => event[:kind].to_s, :locals => {:event => event}
        %td.timestamp= event[:timestamp].to_s(:long)
        
