%h2 Please Login

= form_tag(:controller => :one_click, :action => :authenticate) do
  = label_tag(:email)
  = text_field_tag :email
  %br
  = label_tag(:password)
  = password_field_tag :password
  %br
  = submit_tag "Login", :id => 'submit'
  %br