%h2
  Login
%div
  = form_tag(member_session_path, :class => 'login') do
    %p
      = label_tag(:email)
      = text_field_tag(:email)
    %p
      = label_tag(:password)
      = password_field_tag(:password)
    %p
      = submit_tag "login", :id => 'submit'
    %p
      = link_to 'forgotten password', :controller => 'reset_password', :action => 'index'
