%h3 Proposals

%p= "..."

%h4 Open Proposals
%table.proposals
  %tr
    %th Title
    %th End in
    %th Vote
  - for proposal in @proposals
    %tr{:class => cycle('odd', 'even')}
      %td
        = proposal.title
        (
        = link_to(proposal.proposer.name, proposal.proposer)
        )
        = render 'proposals/description', :proposal => proposal
        %p= link_to("More details", proposal)
      %td.timestamp
        = distance_of_time_in_words(proposal.end_date)
      %td.vote
        = render 'proposals/vote', :proposal => proposal
  
%h4 Recent Decisions
%table.decisions
  %tr
    %th Title
    %th Decision made
    %th For/against
  - reset_cycle
  - for decision in @decisions
    %tr{:class => cycle('odd', 'even')}
      %td
        = decision.proposal.title
        (
        = link_to(decision.proposal.proposer.name, decision.proposal.proposer)
        )
        = render 'proposals/description', :proposal => decision.proposal
        %p= link_to("More details", decision.proposal)
      %td.timestamp= decision.proposal.close_date.to_s(:long)
      %td.vote= render 'proposals/vote_count', :proposal => decision.proposal

%h4 Recent Failed Proposals
%table.failed_proposals
  %tr
    %th Title
    %th Proposal failed
    %th For/against
  - reset_cycle
  - for failed_proposal in @failed_proposals
    %tr{:class => cycle('odd', 'even')}
      %td
        = failed_proposal.title
        (
        = link_to(failed_proposal.proposer.name, failed_proposal.proposer)
        )
        = remder 'proposals/description', :proposal => failed_proposal
        %p= link_to("More details", failed_proposal)
      %td.timestamp= failed_proposal.close_date.to_s(:long)
      %td.vote= render 'proposals/vote_count', :proposal => failed_proposal
