- if @proposal.open?
  %h2
    Proposal:
    = @proposal.title
- elsif @proposal.accepted?
  %h2
    Decision:
    = @proposal.title
- else
  %h2
    Failed proposal:
    = @proposal.title

= render 'description', :proposal => @proposal

%p
  Proposed by
  = link_to(@proposal.proposer.name, @proposal.proposer)
  = @proposal.creation_date.to_s(:at_on)

- if @proposal.open?
  %p
    Voting ends
    = @proposal.end_date.to_s(:at_on)
  %p
    Time remaining:
    = distance_of_time_in_words_to_now(@proposal.end_date)

- if @proposal.open?
  - if current_user.has_permission(:vote)
    %p
      = render 'vote', :proposal => @proposal
  - else
    %p
      You cannot vote on this proposal.
- else
  %p
    This proposal
    -if @proposal.accepted?
      %strong SUCCEEDED
    -else
      %strong FAILED

%p
  Vote count:
  = render 'vote_count', :proposal => @proposal
    
