- if @proposal.open?
  %h3
    Proposal:
    = @proposal.title
- elsif @proposal.accepted?
  %h3
    Decision:
    = @proposal.title
- else
  %h3
    Failed proposal:
    = @proposal.title

= render 'description', :proposal => @proposal

%p
  The proposal was made on
  = @proposal.creation_date.to_s(:long)
  by
  = link_to(@proposal.proposer.name, @proposal.proposer)

-if @proposal.open?
  %p
    Voting on this proposal will end in
    = distance_of_time_in_words(@proposal.end_date)
    (
    = @proposal.end_date.to_s(:long)
    )
  %p
    Number of votes for/against:
    = render 'proposals/vote_count', :proposal => @proposal
  %p
    Your vote:
    = render 'vote', :proposal => @proposal
- else
  %p
    Voting on this proposal ended
    = @proposal.close_date.to_s(:long)
  %p
    Votes for/against:
    = render 'vote_count', :proposal => @proposal
