- if @proposal.open?
  %h3
    Proposal:
    = h(@proposal.title)
- elsif @proposal.accepted
  %h3
    Decision:
    = h(@proposal.title)
- else
  %h3
    Failed proposal:
    = h(@proposal.title)

= partial 'description', :proposal => @proposal

%p
  The proposal was made on
  = @proposal.creation_date.formatted(:long)
  by
  = link_to(h(@proposal.proposer.name), resource(@proposal.proposer))

-if @proposal.open?
  %p
    Voting on this proposal will end in
    = time_to_go_in_words(@proposal.end_date)
    (
    = @proposal.end_date.formatted(:long)
    )
  %p
    Number of votes for/against:
    = partial 'proposals/vote_count', :proposal => @proposal
  %p
    Your vote:
    = partial 'vote', :proposal => @proposal
- else
  %p
    Voting on this proposal ended
    = @proposal.close_date.formatted(:long)
  %p
    Votes for/against:
    = partial 'vote_count', :proposal => @proposal
