%h4 Definitions & Membership
%ul.constitution
  %li
    - if allow_changes
      =partial 'common/propose_change_org_name_form'
    This is the constitution ("Constitution") of
    %span{:class=>'dynamic'}
      = @organisation_name
    ("The Organisation").  
  %li
    - if allow_changes
      =partial 'common/propose_change_objectives_form'
    The Organisation has the objectives of
    %span{:class=>'dynamic'}
      = @objectives
    ("Objectives").
  %li
    - if @assets
      - if allow_changes
        =partial 'common/propose_hold_no_assets_form'
      The Organisation may hold, transfer and dispose of material assets and intangible assets.
    - else
      - if allow_changes
        =partial 'common/propose_hold_assets_form'
      The Organisation does not hold material assets or intangible assets.
  %li The Organisation uses an electronic management system to automate clerical processes ("Management System"). 
  %li The Organisation has one or more members ("Members") who support its Objectives. 
  %li Each Member nominates an email address at which they will receive important notices from the Organisation ("Nominated Email Address"). 
  %li
    Members may access the Management System at the website
    %span{:class => 'dynamic'}
      = @website
  %li Members may view the current Constitution on the Management Systems. 
  %li Members may view a register of current Members together with their Nominated Email Addresses on the Management System. 
  %li Members may resign their membership via the Management System.

%h4 Proposals & Decisions
%ul.constitution
  %li Members may submit a proposal ("Proposal") on the Management System. 
  %li
    - if allow_changes
      =partial 'common/propose_change_voting_period_form'
    A Proposal may be voted on for a period of
    %span{:class=>'dynamic'}
      = @voting_period
    starting with its submission ("Voting Period").
  %li Members may view all current Proposals on the Management System. 
  %li Members may vote to support ("Supporting Vote") or vote to oppose ("Opposing Vote") a Proposal on the Management System during the Proposal's Voting Period. 
  %li Members may only vote on Proposals submitted during their membership of the Organisation. 
  %li All aspects of the Organisation's activity other than a change to the membership or an amendment to the constitution may be governed by a general decision ("General Decision"). 
  %li New Members may be appointed and existing Members may be ejected by a membership decision ("Membership Decision"). 
  %li The Constitution may be amended by a constitution decision ("Constitution Decision").
  %li
    - if allow_changes
      =partial 'common/propose_voting_system_amendment_form', :type=>'general', :description=>'Change the way General Decisions are made:'
    A General Decision is made when a Proposal that does not concern a change to the membership or an amendment to the Constitution receives
    %span{:class=>'dynamic'}
      = @general_voting_system.long_description
  %li
    - if allow_changes
      =partial 'common/propose_voting_system_amendment_form', :type=>'membership', :description=>'Change the way Membership Decisions are made:'
    A Membership Decision is made when a Proposal concerning a change to the membership receives
    %span{:class=>'dynamic'}
      = @membership_voting_system.long_description
  %li
    - if allow_changes
      =partial 'common/propose_voting_system_amendment_form', :type=>'constitution', :description=>'Change the way Constitution Decisions are made:'
    A Constitution Decision is made when a Proposal concerning an amendment to the Constitution receives
    %span{:class=>'dynamic'}       
      = @constitution_voting_system.long_description
  %li Members may view all General Decisions, Membership Decisions and Constitution Decisions on the Management System.

/ %h4 Proxies
/ %ul.constitution
/   %li A Member may nominate another Member as their proxy (“Proxy Nomination”) on the Management System. In this case the Member assigning the proxy is the proxy giver (“Proxy Giver”) and the nominated Member is the proxy holder (“Proxy Holder”). 
/   %li On each occasion a Proxy Holder submits a Supporting Vote or Opposing Vote equivalent votes shall be submitted for all Proxy Givers by whom they are currently nominated. 
/   %li A Proxy Holder may in turn nominate another Member as their proxy. 
/   %li A Member may withdraw a Proxy Nomination at any time on the Management System. 

/ %h4 Failsafe Clauses 
/ %ul.constitution
/   %li Should the Constitution be amended in such a way that an impasse arises any Member may submit a special proposal (“Reset Proposal”) to reset the Constitution to the default options for a General Decision, a Membership Decision and a Constitution Decision on the Management System.
/   %li A Reset Proposal is enacted if it receives Supporting Votes from more than two thirds of Members during the Voting Period.
/   %li Should the Management System become unavailable or defective such that it does not meet the requirements specified in the Constitution any Member may convene an emergency meeting (“Emergency Meeting”) by sending an email to all other Members at their Nominated Email Address stating a date and time at which the meeting shall commence.
/   %li An Emergency Meeting shall not be scheduled to commence less than seven days after it is convened except with unanimous written consent of the Members.
/   %li Should more than one Member send an email to convene an Emergency Meeting the one that was sent first shall have primacy.
/   %li An Emergency Meeting may be conducted in person, by any form of synchronous electronic communication or by a combination thereof.
/   %li At a duly convened Emergency Meeting the Members shall be able to make General Decisions on the basis described in the Constitution but stating “support” or “oppose” in place of the Management System.
/   %li Should the number of Members become zero the Custodian of CIRCUS foundation as named on the website CIRCUS-foundation.org/custodian shall have the right to appoint one, two or three new Members.