!!!
%html
  %head
    %title
      = @current_organisation ? @current_organisation.organisation_name : "One Click Orgs"

    %link{:href=>"/favicon.ico", :rel=>"shortcut icon"}        
    = stylesheet_link_tag 'one_click'
    = javascript_include_tag 'jquery', 'rails', 'application'
    = csrf_meta_tag
  %body
    %div#container
      %div.control_bar
        - if current_user
          %p
            %strong
              = h current_user.name
          %p
            = link_to 'My account', edit_member_path(current_user)
          %p
            = link_to 'Logout', member_session_path, :method => :delete
      %div#doc
        %div#hd
          %h1.header
            = link_to(@current_organisation.organisation_name, root_path)
          %p
            powered by
            = link_to 'One Click Orgs', 'http://www.oneclickorgs.com/'

        - if current_user
          %ul#nav
            %li#navitem= link_to 'Dashboard', root_path
            %li#navitem= link_to 'Settings', settings_path
            %li#navitem= link_to 'Constitution', constitution_path
            %li#navitem= link_to 'Members', members_path

        - if flash[:notice]
          %div#notice
            = flash[:notice]
        - if flash[:error]
          %div#error
            = flash[:error]
        
        %div#bd
          
          = yield
        %div.footer
          = "One Click Orgs #{OneClickOrgs.version} - Running on Rails #{Rails.version}"
      = get_satisfaction_widget
