!!!
%html
  %head
    %title
      One Click Orgs
      
    %link{:href=>"/favicon.ico", :rel=>"shortcut icon"}            
    = stylesheet_link_tag 'one_click'
    = javascript_include_tag 'jquery', 'rails', 'application'
    = csrf_meta_tag
  %body
    %div.control_bar
      - if current_user
        = current_user.name
        |
        =link_to 'logout', member_session_path, :method => :delete
    %div#doc
      %div#hd
        %h1.header One Click Orgs
        
      %div#bd
        %div#notice
          = flash[:notice]
        %div#error
          = flash[:error]
          
        = yield
      %div.footer
        = "One Click Orgs 0.5 (Beta) - Running on Rails #{Rails.version}"
    = get_satisfaction_widget
