!!!
%html
  %head
    %title
      One Click Orgs
      
    %link{:href=>"/favicon.ico", :rel=>"shortcut icon"}            
    = stylesheet_link_tag 'one_click'
    = javascript_include_tag 'jquery', 'rails', 'application'
    = csrf_meta_tag
  %body
    %div#container
      %div.control_bar
        - if current_user
          %p
            %strong
              = current_user.name
          %p
            =link_to 'logout', member_session_path, :method => :delete
      %div#doc
        %div#hd
          %h1.header
            = @co.organisation_name.present? ? @co.organisation_name : "Your org"
          %p
            powered by
            = link_to 'One Click Orgs', 'http://www.oneclickorgs.com/'
        - if flash[:notice]
          %div#notice
            = flash[:notice]
        - if flash[:error]
          %div#error
            = flash[:error]
        
        %div#bd
          = yield
        %div.footer
          = "One Click Orgs #{OneClickOrgs.version} - Running on Rails #{Rails.version}"
      = get_satisfaction_widget
