%h4
  New Member
%p
  = form_for(@new_member, :as => :member, :url => members_path) do |f|
    %p
      = f.label(:email, "Email Address")
      = f.text_field :email
    %p
      = f.label(:name)
      = f.text_field :name
    %p
      = submit_tag "Add Member", :id => 'submit'