%h3
  Edit Profile

%p
  = form_for(@member, :action => url(:member, @member) ) do
    = text_field :email, :label => "Email Address "
    %br
    = text_field :name, :label => "Name "
    %br
    = text_field :password, :label => "password",:type=>:password
    %br
    = text_field :password_confirmation, :label => "repeat password", :type=>:password
        
    = submit "Save Profile", :id => 'submit'
    %br
