%h2
  Existing Members
%table.members
  %tr
    %th Name
    %th Proposals made (succeeded/failed)
    %th Votes cast
  - for member in @members
    %tr
      %td= link_to "#{member.name}", member_path(member)
      %td
        = member.proposals_count
        (
        = member.succeeded_proposals_count
        \/
        = member.failed_proposals_count
        )
      %td= member.votes_count
- unless @pending_members.empty?
  %h2
    Pending Members
  %p.explanation
    These members still need to agree to the constitution
  %table.pending_members
    %tr
      %th Name
    - for member in @pending_members
      %tr
        %td
          = link_to "#{member.name}", member_path(member)