%h3
  = @member.name
%p
  %tt
    = @member.email

%h5
  Voting History
  
%table
  - for vote in @member.votes
    %tr
      %td= vote.decision.title
      %td= vote.for_or_against
      
%h5
  Proposal History
%ul
  - for proposal in @member.proposals
    %li= proposal.title
     
= link_to 'Back', url(:members)